@import '../../scss/variables';

.fileLoad {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &-file--btn {
    cursor: pointer;
    display: inline-block;
    color: black;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: $primary-color;
    transition: transform 0.1s ease-in-out;

    &:hover {
      box-shadow: $shadow-primary;
      transform: scale(1.03);
    }
  }
}
