@import '../../scss/variables';

.advertsPage {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 3rem;

  &-filter {
    align-self: center;
    background-color: $bg-color-ter;
    box-shadow: $shadow-primary;
    border-radius: 1rem;
    padding: 1rem;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    padding: 1rem 0.5rem;
    border-radius: 0.3rem;
    box-shadow: $shadow-primary;

    &--noads {
      margin: 0 auto;
      text-align: center;
      & h3 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }
    }

    &--error {
      width: 100%;
      text-align: center;
    }
  }
}
