@import '../../../scss/variables';

.newAdPage .form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  gap: 1rem;
  background-color: $bg-color-ter;
  box-shadow: $shadow-primary;
  border-radius: 1rem;
  padding: 1rem;

  // &-group {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   text-align: center;
  // }

  & .form-field {
    &--label {
      font-size: 1.1rem;
      margin-right: 0.2rem;
    }

    &--img {
      margin: 0 auto;
      height: 150px;
    }
  }
  &-error {
    margin-top: 1rem;
    text-align: center;
  }

  &-button {
    margin: 0 auto;
  }
}

.newAdPage {
  &-error {
    margin-top: 1rem;
    text-align: center;
    max-width: 400px;
    margin: 2rem auto;
  }
}
