@import '../../../scss/variables';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;

  padding: 2rem 1rem;
  background-color: $bg-color-ter;
  box-shadow: $shadow-primary;
  border-radius: 1rem;

  &-field {
    width: 100%;
  }
}
