// Colors
$bg-color-pri: #525252;
$bg-color-sec: #414141;
$bg-color-ter: #313131;
$primary-color: #8dc973;
$secondary-color: #f78f1e;
$tertiary-color: #e55226;
$font-color-pri: rgba(255, 255, 255, 0.87);
$font-color-sec: rgba(255, 255, 255, 0.7);

// Sizes
$max-width: 800px;
$nav-height: 80px;
$footer-height: 50px;

// Shadows
$shadow-primary: 0 1px 9px 1px rgba(0, 0, 0, 0.35);
